// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Below is the old CSS method of a Css style sheet
// #container {
// 	background-color: blue;
// }

// #container h1 {
// 	font-size: 32px;
// }

// #container p {
// 	color: red
// }

// With Sass
#container h1 {
	background-color: blue;

	h1 {
		font-size: 32px;
	}

	p {
		color: red;
		a {
			text-color: green;
		}
	}
}

img {
  max-height: 300px;
  max-width: 100%;
}
